
<div class="side-image">
  <div class="images-wrapper3"></div>
    <div class="content">
   <div class='title'>About Map Time</div>
   <p> Map Time is an interactive data mapping tool that allows you to create visual representation of demographic data as well as download that data in full. 
   <br>
   Currently Map Time is soley focused on census tract data for the GTA. We plan to extend this tool for all of Canada. 
	<br>
   Census tracts (CTs) are small, relatively stable geographic areas that usually have a population between 2,500 and 8,000 persons. They are located in census metropolitan areas and in census agglomerations that had a core population of 50,000 or more in the previous census.
   <br>
   The most current Census data is 2011. 
   <br>
   Planned expansions:
   <li> Locational data expanded to all of Canada.</li>
   <li> Allow users to save images of each map they create.</li>
   <li> Allow users a more detailed and specific experience when downloading data</li>
   <li> Include more visual data representations including linear regression analysis and other statistical graphing.</li>
  </div>
</div>