<div class="hero">
	<div class="hero-inner">
		<div class="hero-copy">
			<h1>Map Time</h1>
			<p>Beautiful and accessible data for everyone.</p>
    	<h2><%= link_to 'Enter', users_path %></h2>
		</div>
	</div>
</div>
