



	



<div class="grid-items-lines">
  <a href="javascript:void(0)" class="grid-item grid-item-big">
    
<div id='map'></div>
  </a>
  <a href="javascript:void(0)" class="grid-item">


<ul class="accordion">
  <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">People</a> 
    <ul class="submenu">
      <li>
       <label class="label-switch" >
       Population<input type="checkbox"  id='pop' /><div class='checkbox' ></div> 
        </label>
      </li>
      <li>
       <label class="label-switch">Population Change
       <input type="checkbox" id='change'/> <div class='checkbox'  ></div>
        </label>
      </li>

       <li>
        <label class="label-switch">Population Density
         <input type="checkbox" id='density'/>
        <div class='checkbox' ></div>
        </label>
      </li>
       <li>
        <label class="label-switch">Population Immigrants
         <input type="checkbox" id='immigrant'/>
        <div class='checkbox'></div>
        </label>
      </li>
         <li>
          <label class="label-switch">Population Visible Minority
           <input type="checkbox" id='vismin'/>
        <div class='checkbox'></div>
        </label>
      </li>
    </ul>
  </li>
  <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Education</a>
    <ul class="submenu">
      <li>
      <label class="label-switch">No Education Certification
       <input type="checkbox" id='nocert'/>
        <div class='checkbox' ></div>
        </label>
      </li>
      <li>
      <label class="label-switch">High School Certification
       <input type="checkbox" id='highschool'/>
         <div class='checkbox'  ></div>
         </label>
      </li>
          <li>
          <label class="label-switch">University Degree
           <input type="checkbox" id='university'/>
          <div class='checkbox'  ></div>
          </label>
      </li>
    </ul>
  </li>
    <li>

    <a href="javascript:void(0)" class="js-accordion-trigger">Transportation</a>
    <ul class="submenu">
      <li>
      <label class="label-switch">Car
       <input type="checkbox" id='car'/>
        <div class='checkbox'  ></div>
       </label>
      </li>
     
    </ul>
  </li>
   <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Shelter Costs</a>
  </li>
   <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Work and Income</a>

    <ul class="submenu">
      <li>
       <label class="label-switch">Unemployment Rate
       <input type="checkbox" id='unemployment'/>
        <div class='checkbox' ></div>
       </label>
      </li>
    </ul>
  </li>
</ul>

  </a>



  <a href="javascript:void(0)" class="grid-item">
  <button id='snap' class='ui-button'>Take a snapshot</button>
	<div id='snapshot'></div>
  </a>

  
  <div class="right-cover"></div>
  <div class="bottom-cover"></div>
</div>
