<div id='map'></div>
<br>

<div id="map-ui">
    <h2 style="padding:15px;">Social and Economic Patterns</h2>

    <div class="btn-group-vertical" id="layerControls">
      <p>Select a Layer:</p>
  


