
<div class='header'>
  <a href="javascript:edu()" class='categories'>Education</a>
  <a href="javascript:pop()"class='categories' >Population</a>
  <a href="javascript:shelter()" class='categories' >Shelter</a>
  <a href="javascript:trans()" class='categories'> Transportation</a>
  <a href="javascript:inc()" class='categories'>Income</a>
</div>

<div class='map' id="map_edu"></div>
<div class='map' id="map_pop"></div>
<div class='map' id="map_shelter"></div>
<div class='map' id="map_trans"></div>
<div class='map' id="map_inc"></div>
<div id='chart-box'>
<span id='trendline'></span>
</div>