<div class='header'>
  <a href="javascript:edu()" class='categories'>Education</a>
  <a href="javascript:pop()"class='categories' >Population</a>
  <a href="javascript:sheltor()" class='categories' >Sheltor</a>
  <a href="javascript:trans()" class='categories'> Transportation</a>
  <a href="javascript:inc()" class='categories'>Income</a>
</div>

<div id="map_edu"></div>
<div id="map_pop"></div>
<div id="map_sheltor"></div>
<div id="map_trans"></div>
<div id="map_inc"></div>







