<div class='header'>

  <div class='function-menu'>
    <a href="javascript:void(0)" class="js-accordion-trigger maps-trigger">Maps</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="javascript:void(0)" class="js-accordion-trigger graphs-trigger">Graphs</a>
    <div class='graphs-menu'>
        <ul class="submenu graphs-submenu">
          <li>
            <a href="javascript:edu()" class='categories'>X-Axis</a>
          </li>
          <li>
            <a href="javascript:edu()" class='categories'>Y-Axis</a>
          </li>
        </ul>
    </div>
    <div class='maps-menu'>
        <ul class="submenu maps-submenu">
          <li>
            <a href="javascript:edu()" class='categories'>Education</a>
          </li>
          <li>
            <a href="javascript:pop()"class='categories' >Population</a>
          </li>
          <li>
            <a href="javascript:shelter()" class='categories' >Shelter</a>
          </li>
          <li>
            <a href="javascript:trans()" class='categories'> Transportation</a>
          </li>
          <li>
            <a href="javascript:inc()" class='categories'>Income</a>
          </li>
        </ul>
    </div>
  </div>

</div>

<div class='map' id="map_edu"></div>
<div class='map' id="map_pop"></div>
<div class='map' id="map_shelter"></div>
<div class='map' id="map_trans"></div>
<div class='map' id="map_inc"></div>


<form id='regression-form' action="" method="POST">

	X-Axis<br/>
	Variable 1 <select name="var1" id="var1">
	<option value="Population">Population (number of people)</option>
	<option value="popchange">Population Change (%)</option>
	<option value="density">Population Density (people per square km)</option>
	<option value="immigrant">Immigrant Population (%)</option>
	<option value="vismin">Visible Minorities in Population (%)</option>
	<option value="nocert">No Education Certificate (%)</option>
	<option value="highschool">High School Certificate Only (%)</option>
	<option value="university">University Diploma (%)</option>
  <option value="medcommute">Median Commute Time (minutes)</option>
  <option value="car">Commute by Car (%)</option>
  <option value="publictrans">Commute by Public Transit (%)</option>
  <option value="walk">Commute by Walking (%)</option>
  <option value="homeowner">Home Owners (%)</option>
  <option value="homerenter">Home Renters (%)</option>
  <option value="medownpay">Median Mortgage Payment ($)</option>
  <option value="medrentpay">Median Rent Payment (%)</option>
  <option value="medincome">Median Income ($)</option>
	<option value="unemployment">Unemployment Rate (%)</option>
  <option value="under30">Under 30% of Income Spent on Housing (%)</option>
	<option value="over30">Over 30% of Income Spent on Housing (%)</option>
	<option value="topincome">Population in top 50% of incomes (%)</option>
	<option value="bottomincome">Population in bottom 50% of incomes (%)</option>
	<option value="lowincome">Population with low income (%, government definition)</option>
  </select><br/>

  Y-Axis<br/>
  Variable 2 <select name="var2" id="var2">
  <option value="Population">Population (number of people)</option>
  <option value="popchange">Population Change (%)</option>
  <option value="density">Population Density (people per square km)</option>
  <option value="immigrant">Immigrant Population (%)</option>
  <option value="vismin">Visible Minorities in Population (%)</option>
  <option value="nocert">No Education Certificate (%)</option>
  <option value="highschool">High School Certificate Only (%)</option>
  <option value="university">University Diploma (%)</option>
  <option value="medcommute">Median Commute Time (minutes)</option>
  <option value="car">Commute by Car (%)</option>
  <option value="publictrans">Commute by Public Transit (%)</option>
  <option value="walk">Commute by Walking (%)</option>
  <option value="homeowner">Home Owners (%)</option>
  <option value="homerenter">Home Renters (%)</option>
  <option value="medownpay">Median Mortgage Payment ($)</option>
  <option value="medrentpay">Median Rent Payment (%)</option>
  <option value="medincome">Median Income ($)</option>
  <option value="unemployment">Unemployment Rate (%)</option>
  <option value="under30">Under 30% of Income Spent on Housing (%)</option>
  <option value="over30">Over 30% of Income Spent on Housing (%)</option>
  <option value="topincome">Population in top 50% of incomes (%)</option>
  <option value="bottomincome">Population in bottom 50% of incomes (%)</option>
  <option value="lowincome">Population with low income (%, government definition)</option>
  </select><br/>
  
  <input type="button" name="submit" id='makegraph' value="Graph It!" onclick="drawVisualization()" />
</form>


<div id='chart-box'>
	<span id='graph'></span>
</div>




