<div class='header'>

  <div class='function-menu'>
    <a href="javascript:void(0)" class="js-accordion-trigger maps-trigger">Maps</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="javascript:void(0)" class="js-accordion-trigger graphs-trigger">Graphs</a>
    <div class='maps-menu'>
        <ul class="submenu maps-submenu">
          <li>
            <a href="javascript:edu()" class='categories'>Education</a>
          </li>
          <li>
            <a href="javascript:pop()"class='categories' >Population</a>
          </li>
          <li>
            <a href="javascript:shelter()" class='categories' >Shelter</a>
          </li>
          <li>
            <a href="javascript:trans()" class='categories'> Transportation</a>
          </li>
          <li>
            <a href="javascript:inc()" class='categories'>Income</a>
          </li>
        </ul>
    </div>
  </div>

</div>

<div class='map' id="map_edu"></div>
<div class='map' id="map_pop"></div>
<div class='map' id="map_shelter"></div>
<div class='map' id="map_trans"></div>
<div class='map' id="map_inc"></div>

<div class='graphPage'>
<h1> Regression Analysis </h1><br>
<p> Curious how one variable might affect another? Try out the trendline caluator for a customized linear regression. 
<br>
<br>
Choose a variable for the X and Y axis and see the general relationship.</p>
<br>
<form name="valform" action="" method="POST">
<div class ='label'>
Variable 1 </div>
<select name="var1" id="var1">
	<option value="Population">Population</option>
	<option value="popchange">Population Change</option>
	<option value="density">Population Density</option>
	<option value="density">Population Density</option>
	<option value="immigrant">Immigrant Population</option>
	<option value="vismin">Vismin Population</option>
	<option value="nocert">Population Density</option>
	<option value="highschool">Population Density</option>
	<option value="university">Population Density</option>
	<option value="unemployment">Population Density</option>
	<option value="car">Population Density</option>
	<option value="publictrans">Population Density</option>
	<option value="walk">Population Density</option>
	<option value="medcommute">Population Density</option>
	<option value="homeowner">Population Density</option>
	<option value="homerenter">Population Density</option>
	<option value="over30">Population Density</option>
	<option value="under30">Population Density</option>
	<option value="medownpay">Population Density</option>
	<option value="medrentpay">Population Density</option>
	<option value="medincome">Population Density</option>
	<option value="topincome">Population Density</option>
	<option value="bottomincome">Population Density</option>
	<option value="lowincome">Population Density</option>

</select>


<div class ='label'>
Variable 2 </div> <select name="var2" id="var2">
<option value="Population">Population</option>
<option value="popchange">Population Change</option>
<option value="density">Population Density</option>
</select><br/>
<input type="button" name="submit" value="Graph It!" onclick="drawVisualization()" />
</form>
</div>

<div id='chart-box'>
	<span id='graph'></span>
</div>




