<header class="centered-navigation">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <img src="/assets/globe.png" alt="Logo image">
    </a>
    <a href="" class="centered-navigation-menu-button">MENU</a>
    <ul class="centered-navigation-menu">
      <li class="nav-link"><a href="javascript:void(0)">Products</a></li>
      <li class="nav-link"><a href="javascript:void(0)">Data Source</a></li>
      <li class="nav-link"><a href="javascript:void(0)">Year</a></li>
      <li class="nav-link logo">
        <a href="javascript:void(0)" class="logo">
          <img src="/assets/globe.png" alt="Logo image">
        </a>
      </li>
      <li class="nav-link more"><a href="javascript:void(0)">Data Categories</a>
 		<ul class="submenu">
          <li class="more"><a href="javascript:void(0)">People</a>
           <ul class="submenu">
               <li> <div id="clickingEvent">Visible Minority</div></li>
              <li id="clickingEvent"> Immigrants</li>
            </ul>
           </li>
          <li class="more"><a href="javascript:void(0)">Income</a>
            <ul class="submenu">
               <li> <div id="clickingEvent">Low Income</div></li>
            </ul>
            </li>
          <li class="more"><a href="#">Transit</a>
            <ul class="submenu">
              <li> <div id="clickingEvent">Car</div></li>
               <li> <div id="clickingEvent">Public Transit</div></li>
               <li> <div id="clickingEvent">Bike</div></li>

            </ul>
          </li>
       
        </ul>
      </li>
      <li class="nav-link"><a href="javascript:void(0)">Add to MyData</a></li>
      
      <li class="nav-link"><a href="javascript:void(0)">Sign up</a></li>
    </ul>
  </div>
</header>


<div id='map'></div>

