<div class='header'>
	<a href="javascript:edu()" class='categories'>Education</a>
	<a href="javascript:pop()"class='categories' >Population</a>
	<a href="javascript:shelter()" class='categories' >Shelter</a>
	<a href="javascript:trans()" class='categories'> Transportation</a>
	<a href="javascript:inc()" class='categories'>Income</a>
</div>

<div class='map' id="map_edu"></div>
<div class='map' id="map_pop"></div>
<div class='map' id="map_shelter"></div>
<div class='map' id="map_trans"></div>
<div class='map' id="map_inc"></div>


<form name="valform" action="" method="POST">

	X-Axis<br/>
	Variable 1 <select name="var1" id="var1">
	<option value="Population">Population</option>
	<option value="popchange">Population Change</option>
	<option value="density">Population Density</option>
	<option value="density">Population Density</option>
	<option value="immigrant">Immigrant Population</option>
	<option value="vismin">Vismin Population</option>
	<option value="nocert">Population Density</option>
	<option value="highschool">Population Density</option>
	<option value="university">Population Density</option>
	<option value="unemployment">Population Density</option>
	<option value="car">Population Density</option>
	<option value="publictrans">Population Density</option>
	<option value="walk">Population Density</option>
	<option value="medcommute">Population Density</option>
	<option value="homeowner">Population Density</option>
	<option value="homerenter">Population Density</option>
	<option value="over30">Population Density</option>
	<option value="under30">Population Density</option>
	<option value="medownpay">Population Density</option>
	<option value="medrentpay">Population Density</option>
	<option value="medincome">Population Density</option>
	<option value="topincome">Population Density</option>
	<option value="bottomincome">Population Density</option>
	<option value="lowincome">Population Density</option>

</select><br/>

Y-Axis<br/>
Variable 2 <select name="var2" id="var2">
<option value="Population">Population</option>
<option value="popchange">Population Change</option>
<option value="density">Population Density</option>
</select><br/>
<input type="button" name="submit" value="Graph It!" onclick="drawVisualization()" />
</form>


<div id='chart-box'>
	<span id='graph'></span>
</div>




