<h2><%= @favourite.data_set.name %></h2>

<% if @favourite.tag_list %>
  Tags:<br>
  <em><%= @favourite.tag_list %></em><br>
  <%= link_to "Edit tags", edit_user_favourite_url[current_user.id, @favourite.id] %>
<% end %>