// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ui-button {
  position:absolute;
  top:10px;
  right:10px;
  z-index:1000;
  }
#map {
  width:50%;
  height:500px;
  }
#snapshot {
  position:absolute;
  top:0;bottom:0;right:0;
  width:50%;
  }


body {
  margin: 0;
  padding: 0;
}


.btn-group-vertical>.btn:not(:first-child):not(:last-child) {
border-radius: 0;
}

.btn-group-vertical>.btn, .btn-group-vertical>.btn-group, .btn-group-vertical>.btn-group>.btn {
display: block;
float: none;
width: 100%;
max-width: 100%;
}

.btn-group>.btn, .btn-group-vertical>.btn {
position: relative;
float: left;
}

.btn-sm {
padding: 8px 16px;
font-size: 12px;
line-height: 1.5
}

#map-ui {
  position: absolute;
  height: 100%;
  right: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  z-index: 100;
  background: rgba(255,255,255,0.8);
}

.btn-group, .btn-group-vertical {
  padding: 15px;
}

.btn {
  margin-bottom: 4px;
  white-space: normal;

}

.btn-primary {
color: #ffffff;
background-color: #008cba;
border-color: #0079a1;
}

.btn {
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 15px;
line-height: 1.42857143;
border-radius: 0;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: #FFF;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.tooltip {
  opacity:1;
}

.map-tooltip {
  min-height: 80px;
  min-width: 320px;
}

 #canvas {
            margin-left: 20px;
            margin-right: 0;
            margin-bottom: 20px;
            border: thin solid #aaaaaa;
            cursor: crosshair;
            padding: 0;
         }

         #controls {
            margin: 20px 0px 20px 20px;
         }

         #rubberbandDiv {
            position: absolute;
            border: 3px solid blue;
            cursor: crosshair;
            display: none;
         }