<div class="side-image">
  <div class="images-wrapper2"></div>
    <div class="content">
 <div class='title'>Login</div>

<%= render 'form' %>
  </div>
  <br>
  <br>
 

<div class='title1'>Forgot your password?</div>

<%= render 'forgot_password_form' %>

  </div>
</div>