



<div class="side-image">
  <div class="images-wrapper2"></div>
    <div class="content">
 <div class='title'>Login</div>

<%= render 'form' %>

<div class='title1'>Forgot your password?</div>

<%= render 'forgot_password_form' %>

<%= link_to "Back", user_sessions_path %>
  </div>
</div>